### Reading XLS with pandas

One of the most useful features of python is its rich library environment. A fairly recent contribution to the pantheon of polular libraries for analysis is `pandas`. In this notebook we will explore opening and simple manipulations on a `.xls`file using `pandas`. 

A core functionality of `pandas`is its ability to read popular data-storage filetypes. We begin by loading a prepared spreadsheet into the notebook.

In [3]:
import pandas as pd

df = pd.read_excel("../sources/example.xls")

One of the very neat features of the notebook is the ability to display features of of the dataframe in-line:

In [6]:
df.head()

                     Total consumption  A1 consumption  A2 consumption
2008-01-01 00:00:00          21.600000       24.000000             NaN
2008-01-01 06:08:14          21.703157       24.127967             NaN
2008-01-01 12:16:29          21.806125       24.255702       28.258308
2008-01-01 18:24:44          21.908885       24.383184       28.387081
2008-01-02 00:32:58          22.011418       24.510395       28.515566

As we see the data is some time-stamped measure of consumption with some entires missing.

###  Ex 1. Visualization

#### Ex1.a 
Visualize the three individual columns in the data-frame as a time-series plot.

In [7]:
#implement here

### Ex 2. Missing data

#### Ex2.a
Find the proportion of missing data in each column.

In [8]:
#implement here

#### Ex2.b
Fill in the missing data in the dataframe

In [1]:
#implement here